<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>UPDATE FEES PAGE</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/Fees/Update_Fees_Data.css}" />
</head>

<body>
	<a class="back" href="/fees/details">Back</a>
	<center>
		<section class="tables">
			<div class="fees">
				<h2>Fees Details :</h2>
				<table>
					<thead>
						<tr>
							<th>S_No</th>
							<th>Student_Name</th>
							<th>Course_Name</th>
							<th>Fees_Amount</th>
							<th>Date</th>
							<th>Student_ID</th>
							<th>Admin_ID</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fees, iterstat :${fees}">
							<td th:text="${iterstat.index + 1}"></td>
							<td th:text="${fees.studentName}"></td>
							<td th:text="${fees.courseName}"></td>
							<td th:text="${fees.amount}"></td>
							<td th:text="${fees.date}"></td>
							<td th:text="${fees.StudentId}"></td>
							<td th:text="${fees.AdminId}"></td>
							<td style="display: flex; justify-content: space-evenly;"><a style="color: blue;" href=""
									th:href="@{'/updateFees/'+${fees.id}}"><i class="fa-solid fa-pen"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</center>
</body>

</html>