body {
	background-color: #DDA0DD;
}

.color {
	background: linear-gradient(to right, #F4A460, #FFDEAD, #FF69B4);
	margin-top: 7px;
	padding-bottom: 130px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	text-align: center;
	position: relative;
}

.billsPreview {
	position: relative;
	top: 100px;
}

.bills-preview {
	border: 40px solid #800080;
	padding: 10px;
	width: 800px;
	height: 340px;
	text-align: center;
	background-color: white;
	margin-bottom: 50px;
}

.bills-header {
	font-size: 24px;
	font-weight: bold;
}

.bills-body {
	margin-top: 30px;
	font-size: 18px;
}

.bills-footer {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	font-size: 16px;
}

.billsForm {
	background-color: white;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	padding-top: 2px;
	position: relative;
	top: 50px;
	left: 20%;
}

.billsForm h1 {
	color: red;
	margin-bottom: 20px;
}

label {
	color: grey;
	display: block;
	text-align: center;
}

input {
	display: block;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px #800080 solid;
	font-size: 15px;
	width: 250px;
	margin: 0 auto 2px auto;
	color: #800080;
	text-align: center;
}

button {
	color: white;
	background-color: #800080;
	border: 1px #800080 solid;
	padding: 9px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 10px;
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.back {
	position: fixed;
	text-align: center;
	top: 8px;
	left: 8px;
	width: max-content;
	border: 2px solid #800080;
	padding: 10px;
	color: #800080;
	background-color: #F4A460;
	text-decoration: none;
}

.back:hover {
	border: 2px solid #800080;
	background-color: #800080;
	color: white;
	transition: 0.3s;
}

h2 {
	color: red;
}