<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>STUDENT PAGE</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/Admin/Admin_Details.css}" />
</head>

<body>
	<div class="admins_nav">
		<h2 style="margin-top: 30px; margin-bottom: 30px;">STUDENT DETAILS</h2>
		<img src="/IMAGES/login.jpg" alt="Admin Image" style="width:200px; height:200px; border-radius: 50%;">
		<a class="btns" th:href="@{/admin/details}">Admin Details</a>
		<a class="btns" th:href="@{/student/details}">Student Details</a>
		<a class="btns" th:href="@{/message/details}">Message Details</a>
		<a class="btns" th:href="@{/certificate/details}">Certificate Details</a>
		<a class="btns" th:href="@{/fees/details}">Fees Details</a>
		<a class="btns" th:href="@{/bills/details}">Bills Details</a>
	</div>

	<div class="admins">
		<a class="back" href="/admin">Back</a>
		<a th:href="@{/student/all/data}" class="button-link">
			<div class="button b1">
				<h3 class="heading-underline">Student Details</h3>
				<p style="font-weight: bold;">Get All Student</p>
			</div>
		</a>
		<a th:href="@{/addStudent}" class="button-link">
			<div class="button b2">
				<h3 class="heading-underline">Student Details</h3>
				<p style="font-weight: bold;">Add New Student</p>
			</div>
		</a>
		<a th:href="@{/updateStudent}" class="button-link">
			<div class="button b3">
				<h3 class="heading-underline">Student Details</h3>
				<p style="font-weight: bold;">Update Student</p>
			</div>
		</a>
		<a th:href="@{/deleteStudent}" class="button-link">
			<div class="button b4">
				<h3 class="heading-underline">Student Details</h3>
				<p style="font-weight: bold;">Delete Student</p>
			</div>
		</a>
	</div>
</body>

</html>