<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>ADMIN LOGIN PAGE</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/Login/Login.css}" />
</head>

<body>
	<div class="color">
		<a class="back" href="/home">Back</a>
		<div class="admin">
			<h2>For <span style="color:#800080;">Admins</span></h2>

			<form action="" th:action="@{/adminLogin}" method="post">
				<b>Email :</b>
				<input type="email" name="adminEmail" placeholder="Enter email..." class="email" required> <br />
				<b>Password:</b>
				<input type="password" name="adminPassword" placeholder="Enter password..." class="password"
					required><br />
				<small style="color: red;" th:text="${error}"></small><br />
				<button type="submit" class="loginButton">Log in</button>
			</form>

			<a href="forgotPassword" class="forgotPassword">Forgot Password?</a>
		</div>
	</div>
</body>

</html>