<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>LOGIN PAPG</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/Login/Home.css}" />
</head>

<body>
	<section class="LoginContainer">
		<div class="admin">
			<h2>For Admins</h2>
			<img src="/IMAGES/login.jpg" alt="Admin Image" style="width:150px; height:150px; border-radius: 50%;">
			<a href="" class="btns" th:href="@{/admin}">Admin</a>
		</div>

		<div class="student">
			<h2>For Students</h2>
			<img src="/IMAGES/login.jpg" alt="Student Image" style="width:150px; height:150px; border-radius: 50%;">
			<a href="" class="btns" th:href="@{/student}">Student</a>
		</div>
	</section>
</body>

</html>