</html>
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>MESSAGE PAGE</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/Admin/Admin_Details.css}" />
</head>

<body>
	<div class="admins_nav">
		<h2 style="margin-top: 30px; margin-bottom: 30px;text-align: center;">MESSAGE DETAILS</h2>
		<img src="/IMAGES/login.jpg" alt="Admin Image" style="width:200px; height:200px; border-radius: 50%;">
		<a class="btns" th:href="@{/Student/details}">Student Details</a>
		<a class="btns" th:href="@{/Certificate/details}">Certificate Details</a>
		<a class="btns" th:href="@{/Fees/details}">Fees Details</a>
		<a class="btns" th:href="@{/Message/details}">Message Details</a>
		<a class="btns" th:href="@{/Bills/details}">Bill Details</a>
	</div>

	<div class="admins">
		<a class="back" href="/student">Back</a>
		<a th:href="@{/studentMessage/all/data}" class="button-link">
			<div class="button b1">
				<h3 class="heading-underline">Message Details</h3>
				<p style="font-weight: bold;">Get All Message</p>
			</div>
		</a>
		<a th:href="@{/studentAddMessage}" class="button-link">
			<div class="button b2">
				<h3 class="heading-underline">Message Details</h3>
				<p style="font-weight: bold;">Add New Message</p>
			</div>
		</a>
		<a th:href="@{/studentUpdateMessage}" class="button-link">
			<div class="button b3">
				<h3 class="heading-underline">Message Details</h3>
				<p style="font-weight: bold;">Update Message</p>
			</div>
		</a>
		<a th:href="@{/studentDeleteMessage}" class="button-link">
			<div class="button b4">
				<h3 class="heading-underline">Message Details</h3>
				<p style="font-weight: bold;">Delete Message</p>
			</div>
		</a>
	</div>
</body>

</html>