<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>STUDENT ADD MESSAGE</title>
	<link rel="stylesheet" href="" th:href="@{/StudentMessage/Student_Add_Message.css}" />
</head>

<body>
	<div class="color">
		<a class="back" href="/Message/details">Back</a>
		<div class="addMessage">
			<h3 style="color: red;">ADD NEW MESSAGE</h3>

			<form th:action="@{/studentAddingMessage}" method="post">

				Message Content:
				<input type="text" name="content" placeholder="Enter content..." class="content" minlength="3" required>

				Message Description:
				<textarea name="description" placeholder="Enter description..." class="description" rows="4" cols="35"
					required></textarea><br>

				Admin ID:
				<input type="text" name="admin" placeholder="Enter admin ID..." class="admin" minlength="1"
					required><br>

				<button type="submit">Add Message</button>
			</form>
		</div>
	</div>
</body>

</html>