<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>STUDENT DELETE MESSAGE PAGE</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/StudentMessage/Student_Delete_Message_Data.css}" />
</head>

<body>
	<div class="color">
		<a class="back" href="/Message/details">Back</a>
		<center>
			<section class="tables">
				<div class="messagedelete">
					<h2>Message Details :</h2>
					<table>
						<thead>
							<tr>
								<th>S_No</th>
								<th>Message_Content</th>
								<th>Message_Description</th>
								<th>Message_DateTime</th>
								<th>Student_Id</th>
								<th>Admin_Id</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="studentMessage, iterstat : ${studentMessages}">
								<td th:text="${iterstat.index + 1}"></td>
								<td th:text="${studentMessage.content}"></td>
								<td th:text="${studentMessage.description}"></td>
								<td th:text="${studentMessage.sentTime}"></td>
								<td th:text="${studentMessage.studentId}"></td>
								<td th:text="${studentMessage.adminId}"></td>
								<td><a style="color: red;" href=""
										th:href="@{'/studentDeleteMessage/'+${studentMessage.id}}"
										onclick="return confirm('Are you sure you want to delete this message?');"><i
											class="fa-solid fa-trash"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</center>
	</div>
</body>

</html>